#logo{
    display: block;
    margin: auto;
}

h1{
    color: green;
    text-align: center;
}

h2{
    background-color: blue;
    color: white;
}

h3{
    color: green;
}

.cadrage{
    border: 2PX solid rgba(0, 0, 255, 0.667);
}

.vert{
    background-color: rgba(0, 128, 0, 0.345);
}

.jaune{
    background-color: rgba(255, 255, 0, 0.76);
}

.gris{
    background-color: rgba(128, 128, 128, 0.441);
}
